body {
 background-image: url("../images/back.jpg");
 background-repeat:no-repeat;
 background-size:cover;
}



h1{
    font-size: 40px;
}

h3#header{
     font-weight: bold;
     font-style: italic;
     font-size: 32px;
}

hr#test {
  border: 2px solid purple;
}




/* start editing horizontal menu*/
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

li.menu {
  float: left;
}

li a {
    /* HORIZONTAL MENU LIST*/
  display: block;
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #5CE1E6;
}
/*end of the editing horizontal menu*/








